@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Hubballi&family=League+Gothic&display=swap');


body{
    background-color: #556B2F;
}
.title-ol{
    margin-left: 150px;
}

.title-li{
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    float: left;
    margin: 15px 0 50px 100px;
}
.title-image{
    width: 100px;
    margin: 5px 0 50px 100px;
}
.clear{
    clear: both;
}